* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-white);
  font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: var(--line-height-primary);
  color: var(--color-text);
}
