:root {
  --color-white: #fff;
  --color-primary: #5b4aed;
  --color-text: #2d2d2d;
  --color-disabled: #716f6e;
  --color-border: #918f8f;
  --color-notification: #e13838;

  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;

  --lh-primary: 1.6;
  --fw-normal: 400;
  --fw-high: 600;

  --padding-sm: 1.2rem;
  --padding-md: 1.5rem;
  --padding-lg: 2rem;
  --padding-page: 4rem;
}
